<section class="content">
  <div class="inner">
    <div class="user">Fun Lee</div>
    <nav class="nav">
      <ul>
        <li>
          <a href="http://www.funlee.cn" title="funlee|home">主页</a>
        </li>
        <li>
          <a href="http://init.funlee.cn" target="_black" title="funlee|blog">博客</a>
        </li>
        <li>
          <a href="http://show.funlee.cn/resume" target="_black" title="funlee|resume">简历</a>
        </li>
      </ul>
    </nav>
    <div class="social">
      <ul>
        <li>
          <a href="https://github.com/funlee" title="GitHub" target="_blank">
            <svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-github-copy"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="mailto:i@funlee.cn" target="_blank" title="Email">
            <svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-email1"></use>
            </svg>
          </a>
        </li>
        {{!-- <li>
          <a href="WeChat:lyc458109846" target="_black" title="WeChat:lyc458109846">
            <svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-shejiao"></use>
            </svg>
          </a>
        </li> --}}
        <li>
          <a href="tencent://Message/?Uin=458109846&websiteName=q-zone.qq.com&Menu=yes" target="_blank" title="qq:458109846">
            <svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-qq"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://weibo.com/latent458109846" target="_black" title="weibo">
            <svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-weibo"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.zhihu.com/people/cleverlee" target="_black" title="zhihu">
            <svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-zhihu"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="content-over"></div>
</section>